@*Uncomment the following line will make the project not buildable*@
@*@page "/unsupported-parameters-1/{param1:short}"*@

<h3>UnsupportedParameterRouteType1</h3>

@code {
    [Parameter]
    public short Param1 { get; set; }
}
